body {
    background-color: #EEE;
    font-family: verdana, arial;
}

div#header {
    background-color: #CCC;
}

div#header h1 {
    text-align: center;
}

div#footer {
    background-color: #CCC;
    clear: both;
}

div#match_board { 
    width: 420px;
    margin: 0 auto;
}

div#red_team {
    background-color: red;
    text-align: right;
    padding-right: 10px;
    float: left;
    width: 200px;
}

div#blue_team {
    background-color: #0077FF;
    text-align: left;
    padding-left: 10px;
    float: left;
    width: 200px;
}

div#time {
    clear: both;
}
