<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />       
        <title>
            {% block title %}Eurobot Scoreboard{% endblock %}
        </title>
        <link type="text/css" href="/css/screen.css" rel="stylesheet" />
    </head>
    <body>
        <div id="content">
        {% block content %}No content!{% endblock %}
        </div>
        <div id="footer">
            <img alt="Eurobot Logo" src="/images/eurobot-logo.png" height="100px" />
        </div>
    </body>
</html>
