{% extends "base.html" %}
{% block title %} {{ block.super }} - Live {% endblock %}

{% block content %} 

{% if notices %}
<ul class="notices">
    {% for notice in notices %}
    <li>{{ notice }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if competition_active %}
<div id="red_team">
    <h1>{{ red_team.name }}</h1>
    <span class="score">{{ red_team.score_this_match }}</span>
</div>
<div id="blue_team">
    <h1>{{ blue_team.name }}</h1>
    <span class="score">{{ blue_team.score_this_match }}</span>
</div>
{% else %}
    <h1>Sorry! The competition hasn't started yet!</h1>
{% endif %}

{% endblock %}

