{% extends "base.html" %}
{% block title %} {{ block.super }} - Live {% endblock %}

{% block content %} 

{% if notices %}
<ul class="notices">
    {% for notice in notices %}
    <li>{{ notice }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if competition_active %}
<div id="match_board_parent"><div id="match_board">
    <div id="red_team">
        <h1>{{ red_team.name }}</h1>
        <span class="score">{{ red_team.match_score.total }}</span>
    </div>
    <div id="blue_team">
        <h1>{{ blue_team.name }}</h1>
        <span class="total">{{ blue_team.match_score.total }}</span>
    </div>
    <div id="time">
       <script type="text/javascript">

           var d = new Date();
           d.setTime({% now "U"  %}000);
           var time = d.getHours() + ":" +
           d.getMinutes() + " " +
           d.getDate() + "/" + 
           d.getMonth() + "/" +
           d.getFullYear();
           document.write(time);
       </script>  
    </div>
</div></div>
{% else %}
    <h1>Sorry! The competition hasn't started yet!</h1>
{% endif %}

{% endblock %}

